    </div> <!-- .barba-container -->
</div> <!-- .barba-wrapper -->

<footer id="footer">

    <nav class="level">
        <div class="level-item has-text-centered">

        </div>
        <div class="level-item has-text-centered">

        </div>
        <div class="level-item has-text-centered">

        </div>
    </nav>

    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Wright Tool Inc</strong>
            </p>
            <p>
                Copyright {{ year }}
            </p>
        </div>
    </div>
</footer>

{{# is_dev }}
	<script src="scripts/main.js"></script>
	<script src="http://localhost:35729/livereload.js"></script>
{{/ is_dev }}

{{^ is_dev }}
	<script src="scripts/main.min.js"></script>
{{/ is_dev }} 

</body>
</html>
