    </div> <!-- .barba-container -->
</div> <!-- .barba-wrapper -->

<footer id="footer">

    <div class="upper">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third left">
                    <img class="logo" src="images/wrighttool-footer-logo.png" alt="Wright Tool Inc. logo">
                </div>
                <div class="column is-one-third middle">
                    <div class="address">120 Park View Circle<br>Piney Flats, TN 37686</div>
                    <div class="phone">(423) 583-5133</div>
                    <div class="email">info@wrighttoolinc.com</div>
                    <div class="hours">Mon - Fri: 9:00 - 5:00</div>
                </div>
                <div class="column is-one-third right">
                    <ul class="foot-links">
                        {{# navLinks }}
                            <li>
                                <a href="{{ link }}" class="foot-link">
                                    <span class="icon">
                                        <i class="fa fa-angle-right"></i>
                                    </span>
                                    {{ title }}
                                </a>
                            </li>
                        {{/ navLinks }}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="lower">
        <div class="container has-text-centered">
            <p class="copy">Wright Tool Inc. Copyright {{ year }}</p>
        </div>
    </div>
</footer>

{{# is_dev }}
	<script src="scripts/main.js"></script>
	<script src="http://localhost:35729/livereload.js"></script>
{{/ is_dev }}

{{^ is_dev }}
	<script src="scripts/main.min.js"></script>
{{/ is_dev }}

</body>
</html>
