<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
    <title>{{ pageMeta.title }}</title>
    <meta name="description" content="{{ pageMeta.description }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    {{^ is_dev }}
		<link rel="stylesheet" href="/styles/main.min.css"/>
	{{/ is_dev }}
	{{# is_dev }}
		<link rel="stylesheet" href="/styles/main.css"/>
	{{/ is_dev }}
</head>
<body>

	<header id="header">

		<div class="top-info">
			<div class="container">
				<div class="level">
					<div class="level-left">
						<p class="level-item">
							<span class="icon">
							  <i class="fa fa-phone"></i>
							</span>
							(423) 538-5133
						</p>
						<p class="level-item">
							<span class="icon">
							  <i class="fa fa-clock-o"></i>
							</span>
							Mon - Fri: 9:00 - 5:00
						</p>
					</div>
					<div class="level-right">
						<p class="level-item">
							<span class="icon">
							  <i class="fa fa-envelope"></i>
							</span>
							info@wrighttoolinc.com
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="navbar-wrap">
			<div class="container">
				<nav class="navbar is-transparent">
					<div class="navbar-brand">
						<a class="navbar-item" href="/">
							<img class="logo" src="images/wrighttool-footer-logo.png" alt="Wright Tool Inc."/>
						</a>
						<div class="navbar-burger" data-target="navMenu">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div id="navMenu" class="navbar-menu">
						<div class="navbar-start"></div>
						<div class="navbar-end">
							{{# navLinks }}
					    		<a href="{{ link }}" class="navbar-item {{ active }}">{{ title }}</a>
					    	{{/ navLinks }}
						</div>
					</div>
				</nav>
			</div>
		</div>

	</header>

<div id="barba-wrapper">
	<div class="barba-container" data-namespace="{{ pageMeta.namespace }}">
