{{> header }}

<section class="hero is-large landing">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Wright Tool Inc.</h1>
            <h2 class="subtitle">A service-oriented company in Piney Flats, TN</h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        <div class="columns solutions-intro">
            <div class="column is-one-third">
                <h2 class="title">Global Solutions</h2>
            </div>
            <div class="column">
                <p>At Wright Tool we offer specialty tooling, precision piece work, and custom machine building for a variety of industries. We are large enough to meet the demands of high-tech and government contracts, yet focused enough for small production runs or single piece orders.</p>
            </div>
        </div>
        <hr>
        <div class="columns is-multiline solutions">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon">
    							  <i class="fa fa-key"></i>
    							</span>
                            </div>
                            <div class="media-content">
                                <p>Turn Key Solutions</p>
                            </div>
                        </div>
                        <div class="content">
                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus nec iaculis mauris.-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon">
    							  <i class="fa fa-tasks"></i>
    							</span>
                            </div>
                            <div class="media-content">
                                <p>Small Production Runs</p>
                            </div>
                        </div>
                        <div class="content">
                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus nec iaculis mauris.-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon">
    							  <i class="fa fa-calendar-check-o"></i>
    							</span>
                            </div>
                            <div class="media-content">
                                <p>Monthly Parts Contracts</p>
                            </div>
                        </div>
                        <div class="content">
                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus nec iaculis mauris.-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon">
    							  <i class="fa fa-gears"></i>
    							</span>
                            </div>
                            <div class="media-content">
                                <p>Light Fabrication</p>
                            </div>
                        </div>
                        <div class="content">
                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus nec iaculis mauris.-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon">
    							  <i class="fa fa-gavel"></i>
    							</span>
                            </div>
                            <div class="media-content">
                                <p>Fixturing And Tooling</p>
                            </div>
                        </div>
                        <div class="content">
                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus nec iaculis mauris.-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <span class="icon">
    							  <i class="fa fa-sticky-note-o"></i>
    							</span>
                            </div>
                            <div class="media-content">
                                <p>Subcontracting Work</p>
                            </div>
                        </div>
                        <div class="content">
                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus nec iaculis mauris.-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-medium partnerships">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Long-established, Successful Partnerships</h1>
            <hr>
            <h2 class="subtitle">We can readily provide Raw Castings (sand, die, & investment) and take them through the machining process to provide our customers with complete, finished components, to include <strong>Plating</strong>, <strong>Anodization</strong>, or <strong>Powder Coating</strong>, as well as <strong>Custom Screen-Printing</strong>. With these resources and abilities, we take the hassle out of your machined component supply-chain.</h2>
        </div>
    </div>
</section>

<section class="hero is-medium parts">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-2">Built for growth, focused on quality</h1>
            <h2 class="subtitle">Committed to the pursuit of excellence.</h2>
        </div>
    </div>
</section>

{{> footer }}
