
#footer {
    color: #fff;

    .upper {
        background: $dark-grey;
        padding: 1rem;

        .columns {
            .column {
                padding-left: 3rem;
            }

            .column:nth-child(1) {
                .logo {
                    max-height: 3rem;
                }
            }

            .column:nth-child(2) {
                color: #fff;
            }

            .column:nth-child(3) {
                .foot-link {
                    color: #fff;
                    text-transform: uppercase;

                    .icon {
                        color: $primary;
                    }
                }
            }
        }
    }

    .lower {
        background: $black;
        color: #fff;
        padding: 1rem;
    }
}
