
.top-info {
    background: $black;
    color: #fff;
    font-size: 12px;

    .level {
        padding: 10px 0;

        .level-item {

            .icon {
                margin-right: 5px;
            }
        }
    }
}

.navbar-wrap {
    background-color: $dark-grey;

    .navbar {
        background-color: transparent;
        font-size: 1rem;

        .navbar-brand {

            .logo {
                max-height: 3rem;
            }
        }

        .navbar-burger {
            &:hover {
                background-color: transparent;
            }
            &.is-active span {
                background-color: #4a4a4a;
            }
        }

        .navbar-item {
            font-family: 'Titillium Web', Lato, sans-serif;
            font-weight: 600;
            text-transform: uppercase;

            &:hover {
                background-color: transparent;
                color: $blue;
            }
            &.is-active {
                background-color: transparent;
            }
        }
    }

}
