
.top-info {
    background: $wt-black;
    color: #fff;
    font-size: 12px;

    @include mobile() {
        display: none;
    }

    .level {
        padding: 10px 0;

        .level-item {

            .icon {
                margin-right: 5px;
            }
        }
    }
}

.navbar-wrap {
    background-color: $wt-dark-grey;

    .navbar {
        background-color: transparent;
        font-size: 1rem;

        .navbar-brand {

            .logo {
                max-height: 3rem;
            }
        }

        .navbar-burger {
    		span {
    			background-color: #bdbdbd;
    		}
    		&:hover {
    			background-color: transparent;
    		}
    		&.is-active span {
    			background-color: #bdbdbd;
    		}
    	}

        .navbar-item {
            font-family: 'Titillium Web', Lato, sans-serif;
            font-weight: 600;
            text-transform: uppercase;

            &:hover {
                background-color: transparent;
                color: $wt-blue;
            }
            &.is-active {
                background-color: transparent;
            }
        }
    }

}
