
.top-info {
    background: #000;
    color: #fff;
    font-size: 12px;

    .level {
        padding: 10px 0;

        .level-item {

            .icon {
                margin-right: 5px;
            }
        }
    }
}

.navbar-wrap {
    background-color: #fff;

    .navbar {

        .navbar-brand {

            .logo {
                max-height: 3rem;
            }
        }

        .navbar-item {
            font-family: 'Titillium Web', Lato, sans-serif;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

}
