#facilities.section {
    background: #f7f8fc;

    .card.facility {

        .card-content {
            .title {
                font-weight: 500;
                margin-bottom: 10px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}
