.hero.facilities-hero {
    background-image: url('/images/wright-tool-facility.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    height: 60vh;
    text-align: center;

    @include mobile {
        height: 30vh;
    }

    .hero-body {
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
            font-size: 5rem;

            small {
                font-size: 1.5rem;
                display: inline-block;
                line-height: 2rem;
                margin-left: 10px;
            }
        }

        .subtitle {
            font-size: 2rem;
        }

        @include mobile() {
            .title {
                font-size: 3rem;

                small {
                    font-size: .8rem;
                    line-height: 1rem;
                }
            }

            .subtitle {
                font-size: 1.5rem;
            }
        }

    }

}

#facilities.section {
    background: #f7f8fc;

    .card.facility {

        .card-content {
            .title {
                font-weight: 500;
                margin-bottom: 10px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}
