.hero.facilities-hero {
    background-image: url('/images/wright-tool-facility.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    height: 60vh;
    text-align: center;
    position: relative;

    @media screen and (max-width: $tablet - 1px) and (orientation:landscape) {
        height: 50vh;
    }

    .facility-meta {
      position: absolute;
      width: auto;
      background: rgba(0, 0, 0, .5);
      color: #fff;
      bottom: 0;
      right: 0;
      padding: 1rem;
      border-top-left-radius: 3px;

      .title {
          font-size: 2rem;

          small {
              font-size: .5rem;
              display: inline-block;
              line-height: 1rem;
              margin-left: 10px;
          }
      }

      .subtitle {
          font-size: 1rem;
      }

    }

    @include mobile() {

      height: 30vh;

      .facility-meta {
        padding: 5px;
        border-radius: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
      }

      .title {
          font-size: 1.5rem;
          margin-bottom: 5px;

          small {
              font-size: .7rem;
              line-height: 1rem;
          }
      }

      .subtitle {
          font-size: .8rem;
      }

    }
}

#facilities.section {
    background: #f7f8fc;

    .title.dept {
        &::before {
            @include fa(1.5rem, 2rem);

            margin-right: 10px;
            content: '\f0f7';
            display: inline-block;
            font-family: 'FontAwesome';
        }
    }

    .card.facility {

        .card-content {
            .title {
                font-weight: 500;
                margin-bottom: 10px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}
