.hero.landing {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .7)), url('/images/wright-tool-home-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .title {
        font-size: 5rem;
    }
    .subtitle {
        font-size: 2rem;
    }

    @include mobile() {
        .title {
            font-size: 2rem;
        }
        .subtitle {
            font-size: 1.25rem;
        }
    }
}

.hero.parts {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .3)), url('/images/parts-hero-two.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .subtitle {
        font-size: 1.5rem;
    }
}

.columns.solutions-intro {
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.columns.solutions {

    .card {
        background-color: transparent;
        box-shadow: none;
        //&:hover {
        //    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
        //}
        .media {
            align-items: center;
            margin: 0;

            .media-content {
                p {
                    color: #343434;
                    font-size: 1.25rem;
                }
            }

            .media-left {
                background-color: lighten($wt-blue, 40%);
                border-radius: 50%;
                padding: 5px;

                .icon {
                    background-color: $wt-blue;
                    border-radius: 50%;
                    width: 5rem;
                    height: 5rem;

                    .fa {
                        color: #fff;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

.hero.partnerships {
    background-image: -webkit-radial-gradient(center top, ellipse cover, #474747 0%, #0e0e0e 100%);
    background-image: -ms-radial-gradient(center top, ellipse cover, #474747 0%, #0e0e0e 100%);

    .title {
        color: #fff;
    }

    .subtitle {
        color: #fff;
        strong {
            color: #fff;
        }
    }
}
