@import url(//fonts.googleapis.com/css?family=Titillium+Web:600);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

//BULMA CSS FRAMEWORK
@import '../../node_modules/bulma/sass/utilities/initial-variables';

// WRIGHT TOOL CUSTOM VARIABLES
$wt-black: #0e0e0e;
$wt-light-grey: #f7f8fc;
$wt-dark-grey: #1a1a1a;
$wt-blue: #00bbff;
$wt-font: 'Open Sans', sans-serif;
$wt-font-secondary: 'Montserrat', sans-serif;

// ASSIGN THEM TO BULMA VARIABLES
$primary: $wt-black;
$navbar-height: 90px;
//$navbar-background-color: transparent;
$navbar-item-color: $white;
$navbar-item-hover-color: $wt-blue;
//$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $wt-blue;

$family-sans-serif: $wt-font;

//IMPORT REST OF BULMA
@import '../../node_modules/bulma/bulma';
//@import '../../node_modules/bulma/sass/utilities/all';
//@import '../../node_modules/bulma/sass/base/all';
//@import '../../node_modules/bulma/sass/elements/all';
//@import '../../node_modules/bulma/sass/components/all';
//@import '../../node_modules/bulma/sass/grid/all';
//@import '../../node_modules/bulma/sass/layout/all';

body {
    font-size: 1.15rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $wt-font-secondary;
    font-weight: 400;
}
.section {
    background-color: $wt-light-grey;
}
.title {
    font-weight: 400;
    text-transform: uppercase;
}

.hero {

    .title,
    .subtitle {
        color: #fff;
        text-align: center;
        text-shadow: 1px 2px 1px #000;
    }

    .title {
        text-transform: uppercase;
    }

    @include mobile() {
        .title {
            font-size: 1.5rem;
        }
        .subtitle {
            font-size: 1rem;
        }
    }

}

// PARTIALS
@import './partials/header';
@import './partials/footer';

// INDIVIDUAL PAGE STYLES
@import './pages/index';
@import './pages/about';
@import './pages/equipment';
@import './pages/facilities';

/*.barba-container {
	animation-duration: .75s;
	animation-fill-mode: both;
	animation-name: slideInUp;
}

@keyframes slideInUp {
    from {
    	opacity: 0;
        transform: translate3d(0, 10px, 0);
    }

    to {
    	opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}*/
