@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

//BULMA CSS FRAMEWORK
@import '../../node_modules/bulma/sass/utilities/initial-variables';

//SET CUSTOM BULMA VARIABLES AS NEEDED
$primary: #186080;
$text-light: #343434;
$family-serif: Montserrat;
$family-primary: $family-serif;
$nav-height: 90px;

//IMPORT REST OF BULMA
@import '../../node_modules/bulma/bulma';
//@import '../../node_modules/bulma/sass/utilities/all';
//@import '../../node_modules/bulma/sass/base/all';
//@import '../../node_modules/bulma/sass/elements/all';
//@import '../../node_modules/bulma/sass/components/all';
//@import '../../node_modules/bulma/sass/grid/all';
//@import '../../node_modules/bulma/sass/layout/all';

@import './googleMap';

.top-info {
    background: #000;
    color: #fff;
    font-size: 10px;

    .level {
        height: 45px;

        .level-item {

            .icon {
                margin-right: 5px;
            }
        }
    }
}

.nav {

    .nav-item {
        text-transform: uppercase;

        img.logo {
            max-height: 3.75rem;
        }

        &.brand {
            flex-direction: column;

            .top {
                color: #000;
                font-weight: 700;
                font-size: 22px;
            }

            .bottom {
                color: $text-light;
                font-size: 15px;
                letter-spacing: 2px;
            }
        }
    }
}

.hero.landing,
.hero.machining-milling {
    .title {
        font-size: 4rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .title,
    .subtitle {
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 2px 1px #000;
        text-transform: uppercase;
    }
}

.hero.parts {
    .title,
    .subtitle {
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 2px 1px #000;
        text-transform: uppercase;
    }
}

.hero.landing {
    //background-image: linear-gradient(rgba(21, 170, 0, .49), rgba(21, 170, 253, .89)), url('https://images.unsplash.com/1/iphone-4-closeup.jpg?dpr=1&auto=format&crop=middle&fit=crop&w=2000&h=700&q=80');
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .7)), url('/images/wright-tool-home-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero.machining-milling {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .7)), url('/images/machining-milling.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero.parts {
    background-image: url('/images/parts-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero.is-home {
	background: linear-gradient(140deg, #c0c0c0 10%, #000 90%) center / cover no-repeat;
}

.panel-heading.is-primary {
    background-color: $primary;
    color: #fff;
}

.barba-container {
	animation-duration: .75s;
	animation-fill-mode: both;
	animation-name: slideInUp;
}

@keyframes slideInUp {
    from {
    	opacity: 0;
        transform: translate3d(0, 10px, 0);
    }

    to {
    	opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

#footer {
    color: #fff;

    .upper {
        background: #1a1a1a;
        padding: 1rem;

        .columns {
            .column {
                padding-left: 3rem;
            }
            .column:nth-child(1) {
                .logo {
                    width: 80px;
                }
            }
            .column:nth-child(2) {
                color: #fff;
            }
            .column:nth-child(3) {
                .foot-link {
                    color: #fff;
                    text-transform: uppercase;

                    .icon {
                        color: $primary;
                    }
                }
            }
        }
    }

    .lower {
        background: #0e0e0e;
        padding: 1rem;
        color: #fff;
    }
}
