@import url(//fonts.googleapis.com/css?family=Lato:300,400);
@import url(//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
@import url(//fonts.googleapis.com/css?family=Titillium+Web:300,600);

//BULMA CSS FRAMEWORK
@import '../../node_modules/bulma/sass/utilities/initial-variables';

//SET CUSTOM BULMA VARIABLES AS NEEDED
$black: #0e0e0e;
$light-grey: #f7f8fc;
$dark-grey: #1a1a1a;
$blue: #00bbff;

$primary: $black;

$family-primary: Lato, serif;
$family-secondary: Roboto, serif;

$navbar-height: 90px;
$navbar-item: #fff;
$navbar-item-active: $blue;
$navbar-item-hover: $blue;

$title-weight: 400 !default;

//IMPORT REST OF BULMA
@import '../../node_modules/bulma/bulma';
//@import '../../node_modules/bulma/sass/utilities/all';
//@import '../../node_modules/bulma/sass/base/all';
//@import '../../node_modules/bulma/sass/elements/all';
//@import '../../node_modules/bulma/sass/components/all';
//@import '../../node_modules/bulma/sass/grid/all';
//@import '../../node_modules/bulma/sass/layout/all';

body {
    font-size: 1.25rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $family-secondary;
    font-weight: 400;
}
.section {
    background-color: $light-grey;
}
.title {
    font-weight: 400;
    text-transform: uppercase;
}

// PARTIALS
@import './partials/header';
@import './partials/footer';

// INDIVIDUAL PAGE STYLES
@import './pages/index';
@import './pages/about';
@import './pages/equipment';
@import './pages/facilities';

.barba-container {
	animation-duration: .75s;
	animation-fill-mode: both;
	animation-name: slideInUp;
}

@keyframes slideInUp {
    from {
    	opacity: 0;
        transform: translate3d(0, 10px, 0);
    }

    to {
    	opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
