<section class="section" id="about">
    <div class="container">

        <div class="columns">
            <div class="column is-half">
                <h1 class="title">About Us</h1>
                <hr>
                <ul class="fa-ul about-list">
                    <li><i class="fa-li fa fa-star"></i>Family owned and operated since 1989</li>
                    <li><i class="fa-li fa fa-star"></i>Precision machine shop focused on CNC Turning and CNC Milling</li>
                    <li><i class="fa-li fa fa-star"></i>12 CNC Milling Centers and can accomodate up to a 26" x 60" work piece</li>
                </ul>
            </div>
            <div class="column is-half">
                <h1 class="title">Quality Policy</h1>
                <hr>
                <ul class="fa-ul about-list">
                    <li><i class="fa-li fa fa-star"></i>Continuous improvement in safety, quality, and  productivity</li>
                    <li><i class="fa-li fa fa-star"></i>Our company is ISO 9001:2008 certified since 2006</li>
                    <li><i class="fa-li fa fa-star"></i>We maintain a complete quality assurance department with CMM measuring</li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section class="hero is-medium service-oriented">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Long-Established, Successful Partnerships</h1>
            <hr>
            <p class="subtitle">Offering specialty tooling, precision piece work, and custom machine building for a variety of industries.</p>
            <p class="subtitle">Large enough to meet the demands of high-tech and government contracts, yet focused enough for small production runs or single piece orders.</p>
        </div>
    </div>
</section>

<section class="section" id="industries">
    <div class="container">
        <h1 class="title">Industries Served</h1>
        <hr>

        <div class="columns is-multiline">
            <div class="column is-3"><div class="circle">Aerospace</div></div>
            <div class="column is-3"><div class="circle">Satellite</div></div>
            <div class="column is-3"><div class="circle">Military</div></div>
            <div class="column is-3"><div class="circle">Mining</div></div>
            <div class="column is-3"><div class="circle">Robotics</div></div>
            <div class="column is-3"><div class="circle">Commercial</div></div>
            <div class="column is-3"><div class="circle">Medical</div></div>
            <div class="column is-3"><div class="circle">Transit</div></div>
        </div>

    </div>
</section>

<section class="section" id="cd-google-map">
    <address>120 Park View Circle, Piney Flats, TN 37686 - <a href="https://www.google.com/maps/dir//120+Park+View+Cir,+Piney+Flats,+TN+37686/@36.436095,-82.299683,17z/data=!4m16!1m7!3m6!1s0x885a814df38ff565:0x96479e372b8748b8!2s120+Park+View+Cir,+Piney+Flats,+TN+37686!3b1!8m2!3d36.436095!4d-82.297489!4m7!1m0!1m5!1m1!1s0x885a814df38ff565:0x96479e372b8748b8!2m2!1d-82.297489!2d36.436095" target="_blank">Get Directions</a></address>
	<div id="google-container"></div>
	<div id="cd-zoom-in"><span class="icon"><i class="fa fa-plus"></i></span></div>
	<div id="cd-zoom-out"><span class="icon"><i class="fa fa-minus"></i></span></div>
</section>
