{{> header }}

<section class="section" id="about">
    <div class="container">

        <p>Wright Tool has been in operation since 1989 and is located in a 40,000 square foot facility in the Tri-County Industrial Park in Piney Flats, TN</p>
        <p>We are a precision machine shop focused on CNC Turning and CNC Milling</p>
        <p>Currently we have 12 CNC Milling Centers and can accomodate up to a 26" x 60" work piece</p>

    </div>
</section>

<section id="cd-google-map">
	<div id="google-container"></div>
	<div id="cd-zoom-in"><span class="icon"><i class="fa fa-plus"></i></span></div>
	<div id="cd-zoom-out"><span class="icon"><i class="fa fa-minus"></i></span></div>
	<address>120 Park View Cir, Piney Flats, TN 37686</address>
</section>

{{> footer }}
