{{> header }}

<section class="section" id="about">
    <div class="container">

        <h1 class="title">History</h1>
        <hr>
        <div class="columns">
            <div class="column">
                <p>Wright Tool has been in operation since 1989 and is located in a 40,000 square foot facility in the Tri-County Industrial Park in Piney Flats, TN</p>
            </div>
            <div class="column">
                <p>We are a precision machine shop focused on CNC Turning and CNC Milling</p>
            </div>
            <div class="column">
                <p>Currently we have 12 CNC Milling Centers and can accomodate up to a 26" x 60" work piece</p>
            </div>
        </div>

    </div>
</section>

<!--<section class="hero about-page">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">About Us</h1>
        </div>
    </div>
</section>-->

<section class="section" id="industries">
    <div class="container">
        <h1 class="title">Industries Served</h1>
        <hr>

        <div class="columns is-multiline">
            <div class="column is-3"><div class="circle">Aerospace</div></div>
            <div class="column is-3"><div class="circle">Satellite</div></div>
            <div class="column is-3"><div class="circle">Military</div></div>
            <div class="column is-3"><div class="circle">Mining</div></div>
            <div class="column is-3"><div class="circle">Robotics</div></div>
            <div class="column is-3"><div class="circle">Commercial</div></div>
            <div class="column is-3"><div class="circle">Medical</div></div>
            <div class="column is-3"><div class="circle">Transit</div></div>
        </div>

    </div>
</section>

<section class="hero quality">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Quality Policy</h1>
            <hr>
            <h2 class="subtitle">Continuous improvement in safety, quality, and  productivity by empowering people in a customer focused team environment</h2>
        </div>
    </div>
</section>

<section class="hero service-oriented">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Service Oriented</h1>
            <hr>
            <h2 class="subtitle">Offering specialty tooling, precision piece work, and custom machine building for a variety of industries.</h2>
        </div>
    </div>
</section>

<section class="section" id="cd-google-map">
    <address>120 Park View Cir, Piney Flats, TN 37686</address>
	<div id="google-container"></div>
	<div id="cd-zoom-in"><span class="icon"><i class="fa fa-plus"></i></span></div>
	<div id="cd-zoom-out"><span class="icon"><i class="fa fa-minus"></i></span></div>
</section>

{{> footer }}
