{{> header }}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div style="width:300px">
    			<iframe
                width="100%"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDr7gRsDPCn7v3tZ1jlD1_oOyiu9dg9M6s
                  &q=120 Parkview Circle Piney Flats, TN 37686" allowfullscreen>
              </iframe>
    		</div>
        </div>
    </div>
</section>

<section class="section" id="about">
    <div class="container">

        <p>Wright Tool has been in operation since 1989 and is located in a 40,000 square foot facility in the Tri-County Industrial Park in Piney Flats, TN</p>
        <p>We are a precision machine shop focused on CNC Turning and CNC Milling</p>
        <p>Currently we have 12 CNC Milling Centers and can accomodate up to a 26" x 60" work piece</p>

    </div>
</section>

{{> footer }}
