{{> header }}

<!--<section class="hero page-header">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">In House Equipment</h1>
            <h2 class="subtitle"></h2>
        </div>
    </div>
</section>-->

<section class="section" id="equipment">
    <div class="container">

        <h1 class="title">Our Equipment</h1>
        <hr>

        <div class="columns is-multiline">

            {{# equipment }}
                <div class="column is-half">
                    <div class="card equipment">
                        <div class="card-header">
                            <span class="icon">
                              <i class="fa {{ icon }}"></i>
                            </span>
                            <h3 class="title">{{ title }}</h3>
                        </div>
                        <div class="card-content">
                            <ul>
                                {{# attrs }}
                                    <li>{{.}}</li>
                                {{/ attrs }}
                            </ul>
                        </div>
                    </div>
                </div>
            {{/ equipment }}

        </div>

    </div>
</section>

{{> footer }}
