{{> header }}

<section class="section" id="facilities">
    <div class="container">

        <h1 class="title">Facilities</h1>
        <h2 class="subtitle">a section subtitle yo</h2>
        <hr>

		<div class="columns is-multiline">
			<div class="column is-one-third">
				<nav class="panel">
				  <p class="panel-heading has-text-centered">CNC Milling</p>
				  <div class="panel-block">Wright Tool has CNC milling capabilities for both large and small production runs. The Haas CNC milling centers are equipped with full fourth axis machining.</div>
				</nav>
			</div>
			<div class="column is-one-third">
				<nav class="panel">
				  <p class="panel-heading has-text-centered">CNC Lathes</p>
				  <div class="panel-block">The CNC turning centers have capabilities up to 22” in diameter and 60” between centers. With the use of CBN inserts, we consistently turn 60 Rockwell “C” hardened material, holding .0005 tolerance with our KIA turning centers.</div>
				</nav>
			</div>
			<div class="column is-one-third">
				<nav class="panel">
				  <p class="panel-heading has-text-centered">Manual Lathe</p>
				  <div class="panel-block">Our manual lathe department can turn up to 22” diameter and up to 80” between centers. We also have Hardinge precision toolmaker lathes.</div>
				</nav>
			</div>
			<div class="column is-one-third">
				<nav class="panel">
				  <p class="panel-heading has-text-centered">Manual Milling &amp; Drilling</p>
				  <div class="panel-block">Our mills are Bridgeport and Alliant vertical mills with digital readouts. Cincinnati horizontal milling up to 18” x 72” table is also available. We have a radial arm drill for big drilling.</div>
				</nav>
			</div>
			<div class="column is-one-third">
				<nav class="panel">
				  <p class="panel-heading has-text-centered">Grinding</p>
				  <div class="panel-block">We offer a complete grinding department with O.D., I.D., centerless, and surface grinders. Our capacity for O.D. grinding is 14” x 48” between centers.</div>
				</nav>
			</div>
			<div class="column is-one-third">
				<nav class="panel">
				  <p class="panel-heading has-text-centered">Quality Control</p>
				  <div class="panel-block">Wright Tool, Inc. maintains a complete quality assurance department with CMM measuring. Our company is ISO 9001:2008 certified.</div>
				</nav>
			</div>
		</div>
        
    </div>
</section>

{{> footer }}
