<section class="hero facilities-hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-spaced">40,000<small>Sq.<br>Ft.</small></h1>
            <h2 class="subtitle">Air Conditioned Facility</h2>
        </div>
    </div>
</section>

<section class="section" id="facilities">
    <div class="container">

        <h1 class="title has-text-centered">Our Departments</h1>
        <hr>

		<div class="columns is-multiline">

			<div class="column is-one-third">
                <div class="card facility">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="images/cnc-milling.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="title">CNC Milling</h4>
                            <p>Wright Tool has CNC milling capabilities for both large and small production runs. The Haas CNC milling centers are equipped with full fourth axis machining.</p>
                        </div>
                    </div>
                </div>
			</div>

			<div class="column is-one-third ">
                <div class="card facility">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="images/cnc-lathes.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="title">CNC Lathes</h4>
                            <p>The CNC turning centers have capabilities up to 22” in diameter and 60” between centers. With the use of CBN inserts, we consistently turn 60 Rockwell “C” hardened material, holding .0005 tolerance with our KIA turning centers.</p>
                        </div>
                    </div>
                </div>
			</div>

			<div class="column is-one-third">
                <div class="card facility">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="images/manual-lathes.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="title">Manual Lathes</h4>
                            <p>Our manual lathe department can turn up to 22” diameter and up to 80” between centers. We also have Hardinge precision toolmaker lathes.</p>
                        </div>
                    </div>
                </div>
			</div>

			<div class="column is-one-third">
                <div class="card facility">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="images/manual-milling-drilling.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="title">Manual Milling & Drilling</h4>
                            <p>Our mills are Bridgeport and Alliant vertical mills with digital readouts. Cincinnati horizontal milling up to 18” x 72” table is also available. We have a radial arm drill for big drilling.</p>
                        </div>
                    </div>
                </div>
			</div>

			<div class="column is-one-third">
                <div class="card facility">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="images/grinding-area.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="title">Grinding</h4>
                            <p>We offer a complete grinding department with O.D., I.D., centerless, and surface grinders. Our capacity for O.D. grinding is 14” x 48” between centers.</p>
                        </div>
                    </div>
                </div>
			</div>

			<div class="column is-one-third">
                <div class="card facility">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="images/quality-control.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="title">Quality Control</h4>
                            <p>We maintain a complete quality assurance department with CMM measuring. Our company is ISO 9001:2008 certified.</p>
                        </div>
                    </div>
                </div>
			</div>
		</div>

    </div>
</section>
